@charset "utf-8";
@import url("./styleChecker.css");


:root {
  --visualViewport-height: 100vh;
  --offset-top: 0;
  --wrapper-height: 0;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  width: 100%;
  /*height:100%;*/
}
body {
  margin: 0;
  /*width:100%;*/
  /*height: 100vh;*/
}

canvas {
  width:100%;
  height:100%;
}

.wp {
  height: var(--visualViewport-height);
}

input {
  width: 100%;
  
}

.wrapper {
  display: grid;
  /*height: var(--visualViewport-height);*/
  /*height:100%;*/
}

.canvasWrapper {
  /*position: fixed;*/
  /*position: absolute;*/
  /*position: relative;*/
  position: sticky;
  top: var(--offset-top);
  /*top: var(--visualViewport-height);*/
  /*z-index: -1;*/
}

.contentsWrapper {
  width: 100%;
  /*opacity: 0.5;*/
  /*position: fixed;*/
  /*position: absolute;*/
  /*position: relative;*/
  position: sticky;
  bottom: 0;
  z-index: 1;
}
 
